In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df1  = pd.read_csv(r"E:\karm\humanindex.csv")

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Columns: 123 entries, year to hf_quartile
dtypes: float64(119), int64(1), object(3)
memory usage: 1.4+ MB

In [5]:
df = df1.head(50);df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Columns: 123 entries, year to hf_quartile
dtypes: float64(119), int64(1), object(3)
memory usage: 47.5+ KB

# Rename

In [6]:
df.rename(columns = {"pf_rol_procedural" : "pf_procedural", "pf_rol_civil" : "pf_civil"} )

,year,ISO_code,countries,region,pf_procedural,pf_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
0,2016,ALB,Albania,Eastern Europe,6.661503,4.547244,4.666508,5.291752,8.920429,10.0,...,4.050196,7.324582,7.074366,6.705863,6.906901,7.54,34.0,7.568140,48.0,2.0
1,2016,DZA,Algeria,Middle East & North Africa,NaN,NaN,NaN,3.819566,9.456254,10.0,...,3.765515,8.523503,7.029528,5.676956,5.268992,4.99,159.0,5.135886,155.0,4.0
2,2016,AGO,Angola,Sub-Saharan Africa,NaN,NaN,NaN,3.451814,8.060260,5.0,...,1.945540,8.096776,6.782923,4.930271,5.518500,5.17,155.0,5.640662,142.0,4.0
3,2016,ARG,Argentina,Latin America & the Caribbean,7.098483,5.791960,4.343930,5.744791,7.622974,10.0,...,3.260044,5.253411,6.508295,5.535831,5.369019,4.84,160.0,6.469848,107.0,3.0
4,2016,ARM,Armenia,Caucasus & Central Asia,NaN,NaN,NaN,5.003205,8.808750,10.0,...,4.575152,9.319612,6.491481,6.797530,7.378069,7.57,29.0,7.241402,57.0,2.0
5,2016,AUS,Australia,Oceania,8.439110,7.525648,7.364078,7.776279,9.623538,10.0,...,7.238900,8.944387,8.823021,8.121631,8.465526,7.98,10.0,8.582219,4.0,1.0
6,2016,AUT,Austria,Western Europe,8.969832,7.872188,7.673227,8.171749,9.737912,10.0,...,6.418890,7.296116,8.531578,7.419870,7.371334,7.58,27.0,8.413474,16.0,1.0
7,2016,AZE,Azerbaijan,Caucasus & Central Asia,NaN,NaN,NaN,4.270861,9.143499,10.0,...,5.353533,6.959699,7.814181,7.080078,6.874880,6.49,106.0,6.083277,130.0,4.0
8,2016,BHS,Bahamas,Latin America & the Caribbean,6.930835,6.008696,6.262840,6.400790,0.000000,10.0,...,NaN,7.981672,7.388227,7.523034,8.169125,7.34,49.0,7.397269,50.0,2.0
9,2016,BHR,Bahrain,Middle East & North Africa,NaN,NaN,NaN,5.900339,9.790481,10.0,...,6.596745,8.074670,9.680534,8.018774,7.415786,7.56,30.0,6.848035,75.0,2.0
10,2016,BGD,Bangladesh,South Asia,2.333137,3.712171,3.353370,3.132892,8.998765,5.0,...,2.488781,6.527180,5.123943,4.962580,6.690103,6.30,120.0,5.801300,138.0,4.0
11,2016,BRD,Barbados,Latin America & the Caribbean,7.668771,6.520983,5.908108,6.699287,5.637136,10.0,...,4.353261,4.999638,7.253715,6.148503,6.524768,6.43,111.0,7.068447,67.0,2.0
12,2016,BLR,Belarus,Eastern Europe,4.483689,5.934587,4.968499,5.128925,8.566135,10.0,...,NaN,9.042634,7.937484,8.092322,6.377245,6.23,123.0,6.144514,128.0,4.0
13,2016,BEL,Belgium,Western Europe,8.669067,7.343872,7.240364,7.751101,9.220407,10.0,...,6.469409,7.459620,8.475532,7.374380,8.102654,7.32,52.0,8.153589,27.0,1.0
14,2016,BLZ,Belize,Latin America & the Caribbean,4.753383,4.737766,3.315467,4.268872,0.000000,10.0,...,6.724504,8.843607,8.352229,6.684745,7.883868,6.86,83.0,7.145432,64.0,2.0
15,2016,BEN,Benin,Sub-Saharan Africa,NaN,NaN,NaN,4.129480,7.526895,10.0,...,2.790034,9.479134,6.973482,6.142281,6.855929,5.98,134.0,6.738488,90.0,3.0
16,2016,BTN,Bhutan,South Asia,NaN,NaN,NaN,5.925575,9.548283,10.0,...,5.736825,8.470915,9.047207,6.674658,7.701472,7.02,73.0,6.810486,83.0,3.0
17,2016,BOL,Bolivia,Latin America & the Caribbean,3.702869,3.361331,2.090006,3.051402,7.479924,10.0,...,2.103305,5.664341,0.000000,3.346666,4.975271,6.23,123.0,6.718385,92.0,3.0
18,2016,BIH,Bosnia and Herzegovina,Eastern Europe,6.312217,4.995851,5.102173,5.470080,9.489855,10.0,...,3.149830,7.739727,5.392967,5.279863,7.413612,6.60,98.0,7.230724,59.0,2.0
19,2016,BWA,Botswana,Sub-Saharan Africa,5.333481,6.055928,5.535643,5.641684,3.984712,10.0,...,4.829548,9.190004,8.654881,6.942897,7.769777,7.43,44.0,7.153167,64.0,2.0
20,2016,BRA,Brazil,Latin America & the Caribbean,4.965023,5.288791,3.701204,4.651673,0.000000,10.0,...,2.906825,4.998552,0.000000,3.590036,4.093309,5.75,144.0,6.207989,123.0,4.0
21,2016,BRN,Brunei Darussalam,South Asia,NaN,NaN,NaN,6.163383,9.802818,10.0,...,5.782012,9.562696,9.280361,7.513954,8.443079,6.93,77.0,5.796850,138.0,4.0
22,2016,BGR,Bulgaria,Eastern Europe,4.984199,5.631897,4.058021,4.891372,9.545583,10.0,...,3.517540,9.329954,4.922175,6.191990,7.612748,7.41,46.0,7.782770,41.0,1.0
23,2016,BFA,Burkina Faso,Sub-Saharan Africa,5.148742,4.884167,4.548815,4.860575,9.852021,10.0,...,3.114516,8.937329,6.973482,6.115344,7.427554,6.05,129.0,6.752670,88.0,3.0
24,2016,BDI,Burundi,Sub-Saharan Africa,NaN,NaN,NaN,2.961470,7.591791,5.0,...,3.304978,9.755414,7.399436,6.012328,6.271879,5.92,138.0,5.167067,154.0,4.0
25,2016,KHM,Cambodia,South Asia,3.022812,1.983626,2.693785,2.566741,9.262616,10.0,...,3.245269,4.990408,8.060787,5.135845,7.061529,7.17,64.0,7.204224,61.0,2.0
26,2016,CMR,Cameroon,Sub-Saharan Africa,2.624329,3.695063,2.761362,3.026918,8.330360,0.0,...,2.936335,8.689928,3.005380,5.088875,6.530047,5.82,141.0,5.575387,144.0,4.0
27,2016,CAN,Canada,North America,8.622615,7.181646,7.410711,7.738324,9.326358,10.0,...,6.777808,6.854368,8.531578,7.652364,8.514791,7.98,10.0,8.565863,5.0,1.0
28,2016,CPV,Cape Verde,Sub-Saharan Africa,NaN,NaN,NaN,5.720581,5.405668,10.0,...,4.446630,9.166813,7.982321,6.568007,6.922815,6.68,93.0,7.333292,53.0,2.0
29,2016,CAF,Central Afr. Rep.,Sub-Saharan Africa,NaN,NaN,NaN,2.238883,2.097050,5.0,...,NaN,7.316464,4.585895,4.804890,5.417205,5.11,156.0,5.287816,152.0,4.0
30,2016,TCD,Chad,Sub-Saharan Africa,NaN,NaN,NaN,2.900353,6.383880,5.0,...,2.061066,7.211314,1.413656,3.536916,4.953382,5.44,150.0,5.474771,147.0,4.0
31,2016,CHL,Chile,Latin America & the Caribbean,7.706122,6.291439,5.550751,6.516104,8.614887,10.0,...,5.964517,8.747894,6.738086,7.176759,7.098290,7.80,15.0,8.008018,32.0,1.0
32,2016,CHN,China,East Asia,3.954893,5.380302,4.779259,4.704818,9.753760,0.0,...,5.848884,6.874687,7.679669,6.400861,6.358063,6.46,108.0,5.905410,135.0,4.0
33,2016,COL,Colombia,Latin America & the Caribbean,4.968106,4.874353,3.426459,4.422973,0.000000,0.0,...,2.943922,8.753530,7.320971,6.413232,7.044459,6.50,105.0,6.760757,87.0,3.0
34,2016,COD,"Congo, Dem. R.",Sub-Saharan Africa,NaN,NaN,NaN,2.603961,4.581445,0.0,...,2.753497,8.914500,6.121573,5.107181,5.748786,5.67,148.0,5.308628,151.0,4.0
35,2016,COG,"Congo, Rep. Of",Sub-Saharan Africa,NaN,NaN,NaN,3.512352,6.271019,0.0,...,NaN,8.230030,3.251985,4.938542,5.551182,5.02,157.0,5.898934,136.0,4.0
36,2016,CRI,Costa Rica,Latin America & the Caribbean,8.053553,6.267071,5.560009,6.626877,5.238007,10.0,...,4.743579,8.713998,8.307392,6.404254,6.449131,7.55,33.0,7.857714,37.0,1.0
37,2016,CIV,Cote d'Ivoire,Sub-Saharan Africa,2.988534,5.187530,3.925204,4.033756,5.347790,5.0,...,3.980213,8.267363,6.973482,6.203657,6.942590,6.00,132.0,6.531271,100.0,3.0
38,2016,HRV,Croatia,Eastern Europe,6.312658,5.732319,5.056636,5.700538,9.582146,10.0,...,3.267638,8.847433,7.690879,6.081176,7.287616,6.96,75.0,7.708088,44.0,2.0
39,2016,CYP,Cyprus,Eastern Europe,NaN,NaN,NaN,6.327702,9.555653,10.0,...,4.668132,4.998009,8.576416,6.855927,7.547740,7.71,18.0,8.112197,30.0,1.0
40,2016,CZE,Czech Rep.,Eastern Europe,8.711492,7.237188,7.411397,7.786692,9.754941,10.0,...,4.404639,6.890073,7.220087,6.378850,8.089063,7.56,30.0,8.294881,21.0,1.0
41,2016,DNK,Denmark,Western Europe,9.273488,8.619286,8.168529,8.687101,9.607727,10.0,...,7.723446,9.873388,8.542788,7.875363,8.320588,7.77,16.0,8.547820,6.0,1.0
42,2016,DOM,Dominican Rep.,Latin America & the Caribbean,5.242039,4.544211,3.270030,4.352093,3.927318,10.0,...,2.221746,7.913158,6.446644,5.506610,6.617871,7.18,62.0,7.061287,69.0,2.0
43,2016,ECU,Ecuador,Latin America & the Caribbean,4.368084,4.596152,3.812076,4.258771,7.658493,10.0,...,2.609912,8.763122,2.534589,4.629035,6.046131,6.06,127.0,6.805278,83.0,3.0
44,2016,EGY,Egypt,Middle East & North Africa,2.948325,3.763257,4.166860,3.626148,8.994685,0.0,...,4.757293,8.110556,5.605944,5.603716,4.818902,5.72,147.0,4.807277,156.0,4.0
45,2016,SLV,El Salvador,Latin America & the Caribbean,5.106082,4.977861,2.981356,4.355100,0.000000,10.0,...,2.507218,8.912134,7.982321,5.889923,6.243651,7.15,67.0,7.033951,70.0,2.0
46,2016,EST,Estonia,Eastern Europe,8.766076,7.847471,6.789710,7.801086,8.722745,10.0,...,6.853505,9.239308,9.439534,8.339998,8.201250,7.86,13.0,8.436851,14.0,1.0
47,2016,ETH,Ethiopia,Sub-Saharan Africa,2.613462,3.896895,3.397061,3.302473,6.975355,5.0,...,4.034467,8.769327,6.569946,5.575414,6.645061,5.73,146.0,5.397045,150.0,4.0
48,2016,FJI,Fiji,Oceania,NaN,NaN,NaN,4.701806,9.096868,10.0,...,NaN,8.618647,7.231296,7.820161,8.837899,6.79,88.0,7.291102,55.0,2.0
49,2016,FIN,Finland,Western Europe,9.498083,7.955568,8.464094,8.639248,9.432892,10.0,...,8.619912,9.857979,8.957533,8.488582,7.717924,7.65,22.0,8.472184,10.0,1.0

In [7]:
df.rename(columns = {"pf_procedural" : "pf_rol_procedural", "pf_civil" : "pf_rol_civil"} ); df.head(2)

,year,ISO_code,countries,region,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
0,2016,ALB,Albania,Eastern Europe,6.661503,4.547244,4.666508,5.291752,8.920429,10.0,...,4.050196,7.324582,7.074366,6.705863,6.906901,7.54,34.0,7.568140,48.0,2.0
1,2016,DZA,Algeria,Middle East & North Africa,NaN,NaN,NaN,3.819566,9.456254,10.0,...,3.765515,8.523503,7.029528,5.676956,5.268992,4.99,159.0,5.135886,155.0,4.0

In [8]:
df.describe()

,year,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,pf_ss_disappearances_violent,pf_ss_disappearances_organized,pf_ss_disappearances_fatalities,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
count,50.0,34.000000,34.000000,34.000000,50.000000,50.000000,50.000000,50.000000,44.000000,50.000000,...,45.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000
mean,2016.0,5.918679,5.595421,4.992869,5.134206,7.246602,8.100000,9.785089,6.875000,9.455564,...,4.396567,8.025992,6.773636,6.267170,6.876947,6.657200,87.54000,6.874643,81.760000,2.560000
std,0.0,2.231738,1.525141,1.749878,1.725352,3.057170,3.483196,0.816867,2.959268,1.563712,...,1.722549,1.364910,2.260924,1.244084,1.102536,0.898591,50.58846,1.062876,48.832726,1.180799
min,2016.0,2.333137,1.983626,2.090006,2.238883,0.000000,0.000000,5.183346,0.000000,0.000000,...,1.945540,4.990408,0.000000,3.346666,4.093309,4.840000,10.00000,4.807277,4.000000,1.000000
25%,2016.0,4.396986,4.631555,3.495145,3.873114,5.795607,6.250000,10.000000,5.000000,9.746269,...,2.943922,7.301203,6.457853,5.513915,6.293425,5.985000,36.50000,5.949877,45.000000,2.000000
50%,2016.0,5.287760,5.506099,4.722884,4.875974,8.668816,10.000000,10.000000,7.500000,10.000000,...,4.050196,8.497209,7.242506,6.291253,6.932702,6.735000,90.50000,6.940993,72.500000,2.000000
75%,2016.0,7.966695,6.463597,6.174157,6.286622,9.481454,10.000000,10.000000,10.000000,10.000000,...,5.782012,8.931622,8.341020,7.152588,7.679291,7.512500,133.50000,7.673101,133.750000,4.000000
max,2016.0,9.498083,8.619286,8.464094,8.687101,9.852021,10.000000,10.000000,10.000000,10.000000,...,8.619912,9.873388,9.680534,8.488582,8.837899,7.980000,160.00000,8.582219,156.000000,4.000000

In [9]:
df.isnull().sum().sum()

664

In [10]:
df.isnull().sum()

year                                   0
ISO_code                               0
countries                              0
region                                 0
pf_rol_procedural                     16
pf_rol_civil                          16
pf_rol_criminal                       16
pf_rol                                 0
pf_ss_homicide                         0
pf_ss_disappearances_disap             0
pf_ss_disappearances_violent           0
pf_ss_disappearances_organized         6
pf_ss_disappearances_fatalities        0
pf_ss_disappearances_injuries          0
pf_ss_disappearances                   0
pf_ss_women_fgm                        5
pf_ss_women_missing                    5
pf_ss_women_inheritance_widows         3
pf_ss_women_inheritance_daughters      3
pf_ss_women_inheritance                3
pf_ss_women                            3
pf_ss                                  0
pf_movement_domestic                   1
pf_movement_foreign                    1
pf_movement_women                      5
pf_movement                            0
pf_religion_estop_establish           50
pf_religion_estop_operate             50
pf_religion_estop                      8
pf_religion_harassment                 1
                                      ..
ef_trade_black                         0
ef_trade_movement_foreign              5
ef_trade_movement_capital              0
ef_trade_movement_visit                0
ef_trade_movement                      0
ef_trade                               0
ef_regulation_credit_ownership         3
ef_regulation_credit_private           0
ef_regulation_credit_interest          0
ef_regulation_credit                   0
ef_regulation_labor_minwage            0
ef_regulation_labor_firing             5
ef_regulation_labor_bargain            5
ef_regulation_labor_hours              0
ef_regulation_labor_dismissal          1
ef_regulation_labor_conscription       0
ef_regulation_labor                    0
ef_regulation_business_adm             5
ef_regulation_business_bureaucracy     0
ef_regulation_business_start           0
ef_regulation_business_bribes          5
ef_regulation_business_licensing       0
ef_regulation_business_compliance      0
ef_regulation_business                 0
ef_regulation                          0
ef_score                               0
ef_rank                                0
hf_score                               0
hf_rank                                0
hf_quartile                            0
Length: 123, dtype: int64

In [11]:
df.dropna()

Empty DataFrame
Columns: [year, ISO_code, countries, region, pf_rol_procedural, pf_rol_civil, pf_rol_criminal, pf_rol, pf_ss_homicide, pf_ss_disappearances_disap, pf_ss_disappearances_violent, pf_ss_disappearances_organized, pf_ss_disappearances_fatalities, pf_ss_disappearances_injuries, pf_ss_disappearances, pf_ss_women_fgm, pf_ss_women_missing, pf_ss_women_inheritance_widows, pf_ss_women_inheritance_daughters, pf_ss_women_inheritance, pf_ss_women, pf_ss, pf_movement_domestic, pf_movement_foreign, pf_movement_women, pf_movement, pf_religion_estop_establish, pf_religion_estop_operate, pf_religion_estop, pf_religion_harassment, pf_religion_restrictions, pf_religion, pf_association_association, pf_association_assembly, pf_association_political_establish, pf_association_political_operate, pf_association_political, pf_association_prof_establish, pf_association_prof_operate, pf_association_prof, pf_association_sport_establish, pf_association_sport_operate, pf_association_sport, pf_association, pf_expression_killed, pf_expression_jailed, pf_expression_influence, pf_expression_control, pf_expression_cable, pf_expression_newspapers, pf_expression_internet, pf_expression, pf_identity_legal, pf_identity_parental_marriage, pf_identity_parental_divorce, pf_identity_parental, pf_identity_sex_male, pf_identity_sex_female, pf_identity_sex, pf_identity_divorce, pf_identity, pf_score, pf_rank, ef_government_consumption, ef_government_transfers, ef_government_enterprises, ef_government_tax_income, ef_government_tax_payroll, ef_government_tax, ef_government, ef_legal_judicial, ef_legal_courts, ef_legal_protection, ef_legal_military, ef_legal_integrity, ef_legal_enforcement, ef_legal_restrictions, ef_legal_police, ef_legal_crime, ef_legal_gender, ef_legal, ef_money_growth, ef_money_sd, ef_money_inflation, ef_money_currency, ef_money, ef_trade_tariffs_revenue, ef_trade_tariffs_mean, ef_trade_tariffs_sd, ef_trade_tariffs, ef_trade_regulatory_nontariff, ef_trade_regulatory_compliance, ef_trade_regulatory, ef_trade_black, ef_trade_movement_foreign, ef_trade_movement_capital, ef_trade_movement_visit, ef_trade_movement, ef_trade, ef_regulation_credit_ownership, ...]
Index: []

[0 rows x 123 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Columns: 123 entries, year to hf_quartile
dtypes: float64(119), int64(1), object(3)
memory usage: 47.5+ KB

In [13]:
df.describe()

,year,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,pf_ss_disappearances_violent,pf_ss_disappearances_organized,pf_ss_disappearances_fatalities,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
count,50.0,34.000000,34.000000,34.000000,50.000000,50.000000,50.000000,50.000000,44.000000,50.000000,...,45.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000
mean,2016.0,5.918679,5.595421,4.992869,5.134206,7.246602,8.100000,9.785089,6.875000,9.455564,...,4.396567,8.025992,6.773636,6.267170,6.876947,6.657200,87.54000,6.874643,81.760000,2.560000
std,0.0,2.231738,1.525141,1.749878,1.725352,3.057170,3.483196,0.816867,2.959268,1.563712,...,1.722549,1.364910,2.260924,1.244084,1.102536,0.898591,50.58846,1.062876,48.832726,1.180799
min,2016.0,2.333137,1.983626,2.090006,2.238883,0.000000,0.000000,5.183346,0.000000,0.000000,...,1.945540,4.990408,0.000000,3.346666,4.093309,4.840000,10.00000,4.807277,4.000000,1.000000
25%,2016.0,4.396986,4.631555,3.495145,3.873114,5.795607,6.250000,10.000000,5.000000,9.746269,...,2.943922,7.301203,6.457853,5.513915,6.293425,5.985000,36.50000,5.949877,45.000000,2.000000
50%,2016.0,5.287760,5.506099,4.722884,4.875974,8.668816,10.000000,10.000000,7.500000,10.000000,...,4.050196,8.497209,7.242506,6.291253,6.932702,6.735000,90.50000,6.940993,72.500000,2.000000
75%,2016.0,7.966695,6.463597,6.174157,6.286622,9.481454,10.000000,10.000000,10.000000,10.000000,...,5.782012,8.931622,8.341020,7.152588,7.679291,7.512500,133.50000,7.673101,133.750000,4.000000
max,2016.0,9.498083,8.619286,8.464094,8.687101,9.852021,10.000000,10.000000,10.000000,10.000000,...,8.619912,9.873388,9.680534,8.488582,8.837899,7.980000,160.00000,8.582219,156.000000,4.000000

In [14]:
df.describe(percentiles = [0.01, 0.05, 0.10, 0.20, 0.30])

,year,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,pf_ss_disappearances_violent,pf_ss_disappearances_organized,pf_ss_disappearances_fatalities,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
count,50.0,34.000000,34.000000,34.000000,50.000000,50.000000,50.000000,50.000000,44.000000,50.000000,...,45.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000
mean,2016.0,5.918679,5.595421,4.992869,5.134206,7.246602,8.100000,9.785089,6.875000,9.455564,...,4.396567,8.025992,6.773636,6.267170,6.876947,6.657200,87.54000,6.874643,81.760000,2.560000
std,0.0,2.231738,1.525141,1.749878,1.725352,3.057170,3.483196,0.816867,2.959268,1.563712,...,1.722549,1.364910,2.260924,1.244084,1.102536,0.898591,50.58846,1.062876,48.832726,1.180799
min,2016.0,2.333137,1.983626,2.090006,2.238883,0.000000,0.000000,5.183346,0.000000,0.000000,...,1.945540,4.990408,0.000000,3.346666,4.093309,4.840000,10.00000,4.807277,4.000000,1.000000
1%,2016.0,2.425644,2.438269,2.289253,2.399533,0.000000,0.000000,6.003493,1.075000,3.192745,...,1.996372,4.994133,0.000000,3.439889,4.448850,4.913500,10.00000,4.968295,4.490000,1.000000
5%,2016.0,2.620526,3.578257,2.737710,2.737337,0.000000,0.000000,9.168843,2.500000,7.697386,...,2.126993,4.999041,1.918076,4.057586,4.963232,5.060500,13.90000,5.221404,7.800000,1.000000
10%,2016.0,2.960388,3.727497,3.067959,3.020373,1.887345,0.000000,9.745588,2.500000,7.974555,...,2.496156,5.623248,3.227325,4.917733,5.359016,5.413000,17.80000,5.388203,15.800000,1.000000
20%,2016.0,3.854084,4.546031,3.379584,3.500245,5.325834,5.000000,10.000000,4.000000,9.457313,...,2.883467,6.945774,5.563349,5.130113,5.986662,5.806000,30.00000,5.800410,36.000000,1.000000
30%,2016.0,4.726413,4.860694,3.800989,4.219984,6.797912,10.000000,10.000000,5.000000,9.901644,...,3.168917,7.419108,6.551451,5.595225,6.427565,6.057000,48.10000,6.188946,52.100000,2.000000
50%,2016.0,5.287760,5.506099,4.722884,4.875974,8.668816,10.000000,10.000000,7.500000,10.000000,...,4.050196,8.497209,7.242506,6.291253,6.932702,6.735000,90.50000,6.940993,72.500000,2.000000
max,2016.0,9.498083,8.619286,8.464094,8.687101,9.852021,10.000000,10.000000,10.000000,10.000000,...,8.619912,9.873388,9.680534,8.488582,8.837899,7.980000,160.00000,8.582219,156.000000,4.000000

In [15]:
s = pd.Series(['a', 'a', 'b', 'b', 'a', 'a',
np.nan, 'c', 'd', 'a']);s.describe()

count     9
unique    4
top       a
freq      5
dtype: object

In [16]:
df.count()

year                                  50
ISO_code                              50
countries                             50
region                                50
pf_rol_procedural                     34
pf_rol_civil                          34
pf_rol_criminal                       34
pf_rol                                50
pf_ss_homicide                        50
pf_ss_disappearances_disap            50
pf_ss_disappearances_violent          50
pf_ss_disappearances_organized        44
pf_ss_disappearances_fatalities       50
pf_ss_disappearances_injuries         50
pf_ss_disappearances                  50
pf_ss_women_fgm                       45
pf_ss_women_missing                   45
pf_ss_women_inheritance_widows        47
pf_ss_women_inheritance_daughters     47
pf_ss_women_inheritance               47
pf_ss_women                           47
pf_ss                                 50
pf_movement_domestic                  49
pf_movement_foreign                   49
pf_movement_women                     45
pf_movement                           50
pf_religion_estop_establish            0
pf_religion_estop_operate              0
pf_religion_estop                     42
pf_religion_harassment                49
                                      ..
ef_trade_black                        50
ef_trade_movement_foreign             45
ef_trade_movement_capital             50
ef_trade_movement_visit               50
ef_trade_movement                     50
ef_trade                              50
ef_regulation_credit_ownership        47
ef_regulation_credit_private          50
ef_regulation_credit_interest         50
ef_regulation_credit                  50
ef_regulation_labor_minwage           50
ef_regulation_labor_firing            45
ef_regulation_labor_bargain           45
ef_regulation_labor_hours             50
ef_regulation_labor_dismissal         49
ef_regulation_labor_conscription      50
ef_regulation_labor                   50
ef_regulation_business_adm            45
ef_regulation_business_bureaucracy    50
ef_regulation_business_start          50
ef_regulation_business_bribes         45
ef_regulation_business_licensing      50
ef_regulation_business_compliance     50
ef_regulation_business                50
ef_regulation                         50
ef_score                              50
ef_rank                               50
hf_score                              50
hf_rank                               50
hf_quartile                           50
Length: 123, dtype: int64

In [17]:
df = df.iloc[ :, 0:5];df.head(2)

   year ISO_code countries                      region  pf_rol_procedural
0  2016      ALB   Albania              Eastern Europe           6.661503
1  2016      DZA   Algeria  Middle East & North Africa                NaN

In [18]:
df.describe(include = ["number"])

         year  pf_rol_procedural
count    50.0          34.000000
mean   2016.0           5.918679
std       0.0           2.231738
min    2016.0           2.333137
25%    2016.0           4.396986
50%    2016.0           5.287760
75%    2016.0           7.966695
max    2016.0           9.498083

In [19]:
df.describe(include= ["object"])

       ISO_code   countries              region
count        50          50                  50
unique       50          50                  10
top         FJI  Costa Rica  Sub-Saharan Africa
freq          1           1                  13

In [20]:
df.describe(include  = "all")

          year ISO_code   countries              region  pf_rol_procedural
count     50.0       50          50                  50          34.000000
unique     NaN       50          50                  10                NaN
top        NaN      FJI  Costa Rica  Sub-Saharan Africa                NaN
freq       NaN        1           1                  13                NaN
mean    2016.0      NaN         NaN                 NaN           5.918679
std        0.0      NaN         NaN                 NaN           2.231738
min     2016.0      NaN         NaN                 NaN           2.333137
25%     2016.0      NaN         NaN                 NaN           4.396986
50%     2016.0      NaN         NaN                 NaN           5.287760
75%     2016.0      NaN         NaN                 NaN           7.966695
max     2016.0      NaN         NaN                 NaN           9.498083

In [21]:
df.isnull()

     year  ISO_code  countries  region  pf_rol_procedural
0   False     False      False   False              False
1   False     False      False   False               True
2   False     False      False   False               True
3   False     False      False   False              False
4   False     False      False   False               True
5   False     False      False   False              False
6   False     False      False   False              False
7   False     False      False   False               True
8   False     False      False   False              False
9   False     False      False   False               True
10  False     False      False   False              False
11  False     False      False   False              False
12  False     False      False   False              False
13  False     False      False   False              False
14  False     False      False   False              False
15  False     False      False   False               True
16  False     False      False   False               True
17  False     False      False   False              False
18  False     False      False   False              False
19  False     False      False   False              False
20  False     False      False   False              False
21  False     False      False   False               True
22  False     False      False   False              False
23  False     False      False   False              False
24  False     False      False   False               True
25  False     False      False   False              False
26  False     False      False   False              False
27  False     False      False   False              False
28  False     False      False   False               True
29  False     False      False   False               True
30  False     False      False   False               True
31  False     False      False   False              False
32  False     False      False   False              False
33  False     False      False   False              False
34  False     False      False   False               True
35  False     False      False   False               True
36  False     False      False   False              False
37  False     False      False   False              False
38  False     False      False   False              False
39  False     False      False   False               True
40  False     False      False   False              False
41  False     False      False   False              False
42  False     False      False   False              False
43  False     False      False   False              False
44  False     False      False   False              False
45  False     False      False   False              False
46  False     False      False   False              False
47  False     False      False   False              False
48  False     False      False   False               True
49  False     False      False   False              False

In [22]:
# we place 0 with null values

In [23]:
df[df.isnull()] = 0

TypeError: Cannot do inplace boolean setting on mixed-types with a non np.nan value

In [ ]:
df.isnull().sum()

In [ ]:
df1 = df.dropna()

In [ ]:
df1.isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df2 = df.fillna(0)

In [ ]:
df2.isnull().sum()

In [ ]:
df5 =pd.DataFrame(np.random.randn(9).reshape(3,3), index=list('cba'), columns=list('prq'));df5

In [ ]:
df5.sort_index()

In [ ]:
df5.sort_index(axis = 1)

In [ ]:
df5.sort_values(by = ["p"])

In [ ]:
df5.sort_values(by = ["p"], ascending = False)

In [ ]:
df.head(2)

## if header equal to none then Firt Row change into Number

In [ ]:
df3  = pd.read_csv(r"E:\karm\humanindex.csv", header = None);df3.head(2)

# If We Mentioned "Names" then then numbers column delete

In [ ]:
df4  = pd.read_csv(r"E:\karm\humanindex.csv", names = "year");df.head(2)

## Make ISO_code become a main column

In [ ]:
df6  = pd.read_csv(r"E:\karm\humanindex.csv", index_col = "ISO_code");df6.head(2)

In [ ]:
df7  = pd.read_csv(r"E:\karm\humanindex.csv", na_values = {"pf_rol_procedural": "pf", "year":"y"});df7.head(5)

## Skiprows means how many rows skip fom upper side

In [ ]:
df6  = pd.read_csv(r"E:\karm\humanindex.csv", skiprows=1);df6.head(10)

## import xlsx file

In [ ]:
df8 = pd.read_excel("E:\karm\\203.xlsx");df8.head()

In [ ]:
series_2 = pd.Series(np.random.randint(0, 100,
5),index=list('abcde'),dtype=float,name='S2');series_2

In [ ]:
series_2.values

In [ ]:
series_2.index

In [ ]:
menu = pd.Series({'ham': 1, 'eggs': 3, 'bacon':2, 'coffee': 1, 'toast': 0.5, 'jam': 0.2});menu

In [ ]:
menu.ix()

In [ ]:
series_8 =pd.Series(1, 2, 3, 4, 5, 6)

In [ ]:
series_8.astype(str)

In [ ]:
type(series_8)

In [ ]:
data = np.array([10, 20, 30, 40, 50, 60, 70, 80,55,25,100])
s8 = pd.Series(data);s8

In [ ]:
s8.clip_upper(60)

In [ ]:
s8.clip_lower(40)

In [ ]:
s8.clip(30)

In [ ]:
s9 = pd.Series(["hi", "hello", "by"])

In [ ]:
s9.isin(["hi", "by"])

In [ ]:
df10 = pd.read_csv("E:\karm\\358.csv")

In [ ]:
df10.duplicated()

In [ ]:
save10 = df10.drop_duplicates()

In [ ]:
save10.to_csv("file10")

# duplicate handle

In [ ]:
dup = pd.read_csv("E:\karm\\358.csv");dup.info()

In [ ]:
dup1 = dup.drop_duplicates()

In [ ]:
dup1.info()

In [ ]:
dup1.to_csv("remove_dup")

In [ ]:
data  = {"name":["tom", "harry"], "age": [25, 30]}
dup2 = pd.DataFrame(data, index = ["ram", "shyam"]);dup2

In [ ]:
dt = pd.DataFrame(data = ["ram", "shyam"], columns = ["name"], index = ["clerk", "manager"])

In [ ]:
dt

In [ ]:
dp = pd.Series([1,2,3,4,1,2,55,66,77,1,3,66,44]);dp

In [ ]:
dp1 = dp.drop_duplicates();dp1

# Binning D ata with cut and qcut

### Binning is the process of converting numeric variables to categoricals.

##### The pd.cut() and pd.qcut() functions are used for this purpose.

In [25]:
lst = pd.Series([1,2,3,4,5,6,7,8,9,11,22,33,44,55,66,77,88,99,111,222,333,444,555,666])

In [26]:
print(lst)

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      11
10     22
11     33
12     44
13     55
14     66
15     77
16     88
17     99
18    111
19    222
20    333
21    444
22    555
23    666
dtype: int64

In [27]:
lst.astype("category")

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      11
10     22
11     33
12     44
13     55
14     66
15     77
16     88
17     99
18    111
19    222
20    333
21    444
22    555
23    666
dtype: category
Categories (24, int64): [1, 2, 3, 4, ..., 333, 444, 555, 666]

In [28]:
type(lst)

pandas.core.series.Series

In [29]:
pd.cut(lst, 5)[:5]

0    (0.335, 134.0]
1    (0.335, 134.0]
2    (0.335, 134.0]
3    (0.335, 134.0]
4    (0.335, 134.0]
dtype: category
Categories (5, interval[float64]): [(0.335, 134.0] < (134.0, 267.0] < (267.0, 400.0] < (400.0, 533.0] < (533.0, 666.0]]

In [30]:
pd.qcut(lst, 5)[:5]

0    (0.999, 5.6]
1    (0.999, 5.6]
2    (0.999, 5.6]
3    (0.999, 5.6]
4    (0.999, 5.6]
dtype: category
Categories (5, interval[float64]): [(0.999, 5.6] < (5.6, 13.2] < (13.2, 63.8] < (63.8, 155.4] < (155.4, 666.0]]

In [31]:
pd.cut(lst, 5).value_counts()

(0.335, 134.0]    19
(533.0, 666.0]     2
(400.0, 533.0]     1
(267.0, 400.0]     1
(134.0, 267.0]     1
dtype: int64

In [32]:
pd.cut(lst, bins=range(-350, 350,
50)).value_counts()

(0, 50]         13
(50, 100]        5
(200, 250]       1
(100, 150]       1
(250, 300]       0
(150, 200]       0
(-50, 0]         0
(-100, -50]      0
(-150, -100]     0
(-200, -150]     0
(-250, -200]     0
(-300, -250]     0
(-350, -300]     0
dtype: int64

## Creating Dummies from Categorical data

### Creating Dummies Manually

In [63]:
df_G = pd.DataFrame({"key": list("bbaccb"), "val": [1, 2, 3, 4, 5, 6]});df_g

  key  val
0   b    1
1   b    2
2   a    3
3   c    4
4   c    5
5   b    6

In [64]:
(df_G["key"] == "a").astype(int)

0    0
1    0
2    1
3    0
4    0
5    0
Name: key, dtype: int32

In [58]:
(df_G["val"] == 4).astype("category")

0    False
1    False
2    False
3     True
4    False
5    False
Name: val, dtype: category
Categories (2, object): [False, True]

In [67]:
pd.DataFrame({"key": df_G["key"]}).assign(dummy_a = lambda 
                x : (x["key"] == "a").astype(int),
                            dummy_b = lambda 
                x : (x["key"] == "b").astype(int), 
                    dummy_c = lambda
                x : (x["key"] == "c").astype(int))

  key  dummy_a  dummy_b  dummy_c
0   b        0        1        0
1   b        0        1        0
2   a        1        0        0
3   c        0        0        1
4   c        0        0        1
5   b        0        1        0

### Creating Dummies with pd.get_dummies

In [68]:
pd.get_dummies(df_G["key"])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  0  0  1
5  0  1  0

### # Joining the dummies back to the original data

In [69]:
df_G.join(pd.get_dummies(df_G["key"]))

  key  val  a  b  c
0   b    1  0  1  0
1   b    2  0  1  0
2   a    3  1  0  0
3   c    4  0  0  1
4   c    5  0  0  1
5   b    6  0  1  0

### advised to create (k-1) dummies for a categorical variable with k levels.

In [75]:
# Create dummies, drop the categorical variable, and one of the dummies to avoid the trap

df_G.join(pd.get_dummies(df_g["key"], prefix = "dummy")).drop("key", axis = 1).drop("dummy_c", axis = 1)

   val  dummy_a  dummy_b
0    1        0        1
1    2        0        1
2    3        1        0
3    4        0        0
4    5        0        0
5    6        0        1

# Reshaping Data

### stack() and unstack()

### stack pivots the columns into rows (wide to long)

### unstack pivots rows into columns (long to wide.)

In [90]:
df_long = pd.DataFrame({"group" : list("pqr" * 4), "item": list("abcd" * 3) ,
                        "status": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]}).set_index(["group", "item"])

In [91]:
df_long

            status
group item
p     a          1
q     b          2
r     c          3
p     d          4
q     a          5
r     b          6
p     c          7
q     d          8
r     a          9
p     b         10
q     c         11
r     d         12

In [92]:
df_long.unstack()

      status
item       a   b   c   d
group
p          1  10   7   4
q          5   2  11   8
r          9   6   3  12

In [95]:
df_long.stack()

group  item
p      a     status     1
q      b     status     2
r      c     status     3
p      d     status     4
q      a     status     5
r      b     status     6
p      c     status     7
q      d     status     8
r      a     status     9
p      b     status    10
q      c     status    11
r      d     status    12
dtype: int64

### wide

In [111]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
df_wide = pd.DataFrame(data.reshape(3,4), index = list("abc"), columns = list("pqrs"));df_wide

AttributeError: 'list' object has no attribute 'reshape'

In [103]:
df_wide = pd.DataFrame(np.random.randn(12).reshape(3,4), index = list("abc"), columns = list("pqrs"));df_wide

          p         q         r         s
a -0.297828 -0.252230  0.620411 -0.750051
b  0.824670  0.952878 -0.809271 -1.811713
c -0.662654  0.561097  1.404458  1.170870

In [104]:
df_wide.stack()

a  p   -0.297828
   q   -0.252230
   r    0.620411
   s   -0.750051
b  p    0.824670
   q    0.952878
   r   -0.809271
   s   -1.811713
c  p   -0.662654
   q    0.561097
   r    1.404458
   s    1.170870
dtype: float64

# pivot() and pivot_table()

In [105]:
df_long = pd.DataFrame({"group" : list("pqr" * 4), "item": list("abcd" * 3) ,
                        "status": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]}).set_index(["group", "item"])

In [109]:
df_long.reset_index(inplace = True);df_long

    level_0  index group item  status
0         0      0     p    a       1
1         1      1     q    b       2
2         2      2     r    c       3
3         3      3     p    d       4
4         4      4     q    a       5
5         5      5     r    b       6
6         6      6     p    c       7
7         7      7     q    d       8
8         8      8     r    a       9
9         9      9     p    b      10
10       10     10     q    c      11
11       11     11     r    d      12

In [110]:
df_long.pivot(index = "group", columns = "item", values = "status")

item   a   b   c   d
group
p      1  10   7   4
q      5   2  11   8
r      9   6   3  12

## The pivot_table() function is similar to pivot , but can work with duplicate indices and lets you specify an aggregation function

In [113]:
data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
df_pivot = (pd.DataFrame({'C1':list(('x' * 4 + 'y'*
4)*2),
'C2':list('abbbaabaabbbaaba'),
'N1':np.random.randn(16)}));df_pivot

   C1 C2        N1
0   x  a  0.326336
1   x  b  0.738649
2   x  b  1.811284
3   x  b -0.364054
4   y  a -0.455506
5   y  a  0.645748
6   y  b -0.387082
7   y  a  0.224807
8   x  a -0.070183
9   x  b  1.593622
10  x  b  0.488851
11  x  b  1.264993
12  y  a -0.815649
13  y  a -1.619374
14  y  b -0.263006
15  y  a -1.465731

In [114]:
df_pivot.pivot_table(index = "C1", columns = "C2", values = "N1", aggfunc = "mean")

C2         a         b
C1
x   0.128077  0.922224
y  -0.580951 -0.325044

In [116]:
data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
df_pivot = (pd.DataFrame({'C1':list(('x' * 4 + 'y'*
4)*2),
'C2':list('abbbaabaabbbaaba'),
'N1':data}));df_pivot

   C1 C2  N1
0   x  a   1
1   x  b   2
2   x  b   3
3   x  b   4
4   y  a   5
5   y  a   6
6   y  b   7
7   y  a   8
8   x  a   9
9   x  b  10
10  x  b  11
11  x  b  12
12  y  a  13
13  y  a  14
14  y  b  15
15  y  a  16

In [119]:
df_pivot.pivot_table(index = "C1", columns = "C2", values = "N1", aggfunc = "mean")

C2          a     b
C1
x    5.000000   7.0
y   10.333333  11.0